{
  "framework_release": "AppSealingSDK/Libraries/Release/AppSealingFramework.xcframework",
  "framework_debug_sim": "AppSealingSDK/Libraries/Debug/AppSealingFramework.xcframework/ios-arm64_x86_64-simulator/AppSealingFramework.framework",
  "framework_debug_device": "AppSealingSDK/Libraries/Debug/AppSealingFramework.xcframework/ios-arm64/AppSealingFramework.framework",
  "lea_section": "AppSealingSDK/Libraries/LEASection.mm",
  "bridging_header": "AppSealingSDK/Libraries/AppsealingiOS.h",
  "bridging_source": "AppSealingSDK/Libraries/AppsealingiOS.mm"
}
